/* Below 1244px - minimizing desktops */
@media (max-width: 77.75em) {
  .center-padding {
    padding-inline: 6rem;
  }
}

/* Below 1070px */
@media (max-width: 66.87em) {
  .center-padding {
    padding-inline: 2.4rem;
  }

  .hero-img {
    right: -410px;
  }
}

/* Below 972px */
@media (max-width: 60.75em) {
  .hero {
    grid-template-columns: 2fr 1fr;
  }
  .hero-img {
    right: -253px;
    top: 0;
  }
}

/* Below 870px */
@media (max-width: 54.37em) {
  .hero-img {
    right: -300px;
  }
}

/* Below 800 - Tablets */
@media (max-width: 50em) {
  .center-padding {
    padding-inline: 4rem;
  }
  .nav {
    margin-bottom: 10rem;
  }
  .hero {
    grid-template-columns: 1.3fr 1fr;
  }
  .btn {
    font-size: 1.6rem;
  }
  .hero-title {
    font-size: 4rem;
    margin-bottom: 2.4rem;
  }
  .hero-body {
    font-size: 1.6rem;
    padding-right: 0;
    margin-bottom: 2.4rem;
  }

  .hero-img {
    top: -90px;
  }

  .courses {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 5.6rem;
    padding-bottom: 8.6rem;
  }

  .card {
    padding-top: 5.6rem;
    padding-bottom: 3.2rem;
  }

  .card-header {
    font-size: 2.4rem;
    padding: 0;
  }

  .card-title {
    font-size: 2rem;
    font-weight: 800;
  }

  .card-text {
    font-size: 1.6rem;
  }
}

/* Below 668 px  - Preparing for mobile*/
@media (max-width: 41.75em) {
  .nav {
    margin-bottom: 3.8rem;
  }
  .center-padding {
    padding-inline: 1.6rem;
  }
  .hero {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .hero-left {
    margin-bottom: 4rem;
  }
  .hero-img {
    max-width: 100%;
    position: static;
    top: 0;
    right: 0;
  }
}

/* Bellow 500  - Mobile*/
@media (max-width: 31.25em) {
  .courses {
    grid-template-columns: 1fr;
    grid-template-rows: none;
  }

  .card--special {
    padding: 2.4rem 2.9rem 3.2rem 2.8rem;
  }

  .card {
    display: block;
    padding-inline: 2.8rem;
  }

  .card-title {
    margin-bottom: 1.6rem;
  }

  .card-text {
    margin-bottom: 2.4rem;
  }
}
